<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> See all of <%= @teacher.name %>'s comments </h3> 
    </div>

    <div class="panel-body">
      <ul>
        <% @comments.each do |comment| %>
        <li> <strong><%= comment.created_at.strftime('%b %d') %> - <a href="/students/<%= comment.student.id %>"><%= comment.student.name %> </a></strong> - <%= comment.description %>
          <% end %>
      </ul>    
      <p><a href="/teachers/<%= @teacher.id %>"> Back to My Teacher Page </a> </p>

    </div>
  </div>
