<!DOCTYPE html>
<html>
<head>
  <title>EasyIep</title>
  <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"    type="text/css" />
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverted" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/students">EasyIEP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <% if session['teacher_id'] %>
            <% u = Teacher.find_by_id(session['teacher_id'])  %>
        <li class="active"><a href="/teachers/<%= u.id %>">My Teacher Page</a></li>
        <% end %>
        <li><a href="#">Why is this Useful?</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="/students">
        <div class="form-group">
          <input type="text" name="search" class="form-control" placeholder="Search for student">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://engrade.com/user/login.php">Engrade</a></li>
            <li><a href="http://impact.cps.k12.il.us/">CPS Impact</a></li>
            <li><a href="http://gmail.com">Gmail</a></li>
            <li class="divider"></li>
            <li><a href="http://amandlacharterschool.org">Amandla Website</a></li>
          </ul>
        </li>
        <li>
          <% if session['teacher_id'] %>
            <% u = Teacher.find_by_id(session['teacher_id'])  %>
           <a href="/sessions/destroy">Sign Out </a>
          You are signed in, <%= u.name %>!
          <% else %>
          <a href="/sessions/new"> Sign In</a> 
          <% end %>
         
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

</body>
</html>
